.qr-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.qr-card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

.qr-card h4 {
  margin-bottom: 10px;
}

.qr-card p {
  margin-top: 10px;
}
